<div class="page-header">
  <h3>List Carriers</h3>
</div>

<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<div class="row-fluid">
  <div class="span2">
    <%= link_to 'Add New Carrier', new_carrier_path, :class => "btn btn-primary" %>
  </div>
  <div class="span10">
    <% if current_user.administrator? %>
      <%= form_for(@report, url: report_carriers_path, html: { class: "form-inline", target: "_blank"}) do |f| %>
          <button type="submit" class="btn btn-primary">View Report</button>
          Format :
          <span style="display: inline-block;width: 220px;">
            <select name="carrier_report[format]" id="format">
              <option value="pdf">PDF</option>
              <option value="xls">XLS</option>
            </select>
          </span>
      <% end %>
    <% end %>
  </div>
</div>

<div class="clearfix"></div>

<table class="table table-striped table-bordered skip_checkbox" id="carriers_table" width="100%">
  <thead>
    <tr>
      <th colspan="4">Actions</th>
      <th rowspan="2">Company</th>
      <th rowspan="2">Address</th>
      <th rowspan="2">Phone</th>
      <th rowspan="2">Fax</th>
      <th rowspan="2">Email</th>
      <th rowspan="2">PIC</th>
    </tr>
    <tr>
      <th class="hidden">Show</th>
      <th class="hidden">Edit</th>
      <th class="hidden">Delete</th>
      <th class="hidden">Charges</th>
    </tr>
  </thead>

  <tbody>
    <% @carriers.each do |carrier| %>
      <tr<%# " class=error" if carrier.is_deleted %>>
        <td><%= link_to '<i class="icon-eye-open icon-large"></i>'.html_safe, carrier %></td>
        <td><%= link_to '<i class="icon-edit-sign icon-large"></i>'.html_safe, edit_carrier_path(carrier) %></td>
        <td>
          <% if current_user.administrator? %>
            <% unless carrier.is_deleted %>
              <%= link_to '<i class="icon-ok icon-large"></i>'.html_safe, carrier_path(carrier), method: "delete", data: {confirm: "Are you sure?"} %>
            <% else %>
              <%= link_to '<i class="icon-remove icon-large"></i>'.html_safe, enable_carrier_path(carrier) %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to '<i class="icon-money icon-large"></i>'.html_safe, charges_carrier_path(carrier) %></td>
        <td><%= carrier.name %></td>
        <td><pre class="free"><%= carrier.full_address %></pre></td>
        <td><%= carrier.custom_attribute('phone') %></td>
        <td><%= carrier.custom_attribute('fax') %></td>
        <td><%= carrier.custom_attribute('email') %></td>
        <td><%= carrier.custom_attribute('pic') %></td>
      </tr>
    <% end %>
  </tbody>
</table>