<%# cache ["list-cc-deposit", row.shipping_instruction, reference] do %>
  <tr class="<%= "error" if row.is_canceled? %>">
    <td><a href="#depositModal" class="btn-short-paid" data-toggle="modal">input</a></td>
    <td><%= si_date_format reference.payment_date %></td>
    <td><%= reference.close_payment.customer %></td>
    <td><%= row.ibl_ref %></td>
    <td><%= row.invoice_no %>
        <%= '<span class="label label-warning">Cancel</span>'.html_safe if row.is_canceled? %></td>
    <td style="text-align:right"><%= "#{money_with_currency_format(reference.deposit, row.currency_code)}" %></td>
    <td><%= reference.deposit_status_text %></td>
    <td><%= si_date_format reference.deposit_closing_date %></td>
    <td><%= collapse_note(reference.deposit_note) %></td>
    <td class="hidden disable"><%= monthly_format reference.payment_date %></td>
    <td class="hidden disable"><%= datepicker_format reference.payment_date %></td>
    <td class="hidden disable row_id"><%= reference.id %></td>
    <td class="hidden disable ibl_ref"><%= reference.ibl_ref %></td>
  </tr>
<%# end %>