<div class="page-header">
  <h3>Shipping Instruction: <%= @shipping_instruction.si_no %></h3>
</div>
<% if !notice.nil? %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<div class="btn-group ">
	<a href="<%= edit_shipping_instruction_path(@shipping_instruction) %>" class="btn btn-small" title="Edit: <%= @shipping_instruction.si_no %>"><i class="icon-edit-sign"></i></a>
	<a data-no-turbolink="true" target="_blank" href="/shipping_instructions/print/<%= @shipping_instruction.id %>" class="btn btn-small" title="Print: <%= @shipping_instruction.si_no %>"><i class="icon-print"></i></a>
	<a href="<%= shipping_instructions_path %>" class="btn btn-small" title="Back to Lists"><i class="icon-reply"></i></a>
</div>

<div id="size-a4-print">
<%= render "shipping_instruction" %>
</div>