<div class="page-header">
  <h3>Note: <%= @note.no_note %> (<%= @note.status_info %>)</h3>
</div>
<% if !notice.nil? %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<div class="btn-group ">
  <% if @note.is_open? && @note.bill_of_lading.shipping_instruction.is_open? && @note.is_uncanceled? %>
  <a href="<%= edit_note_path(@note) %>" class="btn btn-small" title="Edit: <%= @note.no_note %>"><i class="icon-edit-sign"></i> Edit</a>
  <a data-no-turbolink="true" target="_blank" href="<%= note_path(@note, format: "pdf") %>" class="btn btn-small" title="Print: <%= @note.no_note %>"><i class="icon-print"></i> Print</a>
  <% end %>
  <a href="/list-inv-dbn" class="btn btn-small" title="Back to Lists"><i class="icon-reply"></i> Back</a>
</div>

<div class="details" style="margin-top: 20px;">
  <div>
    <strong>Status</strong>
    <span>
      <%= form_for @note, url: update_status_note_path(@note.id) do |f| %>
        <%= select_tag "status", options_for_select([["Open", "0"], ["Printed", "3"]], @note.status.to_s), style: "margin-bottom: 0; width: 100px" %>
        <%= f.submit "Update Status", class: "btn btn-info" %>
        
        <% if @note.is_cancel == 0 && @note.status != 3 %>
          OR <%= link_to 'Cancel Invoice', cancel_debit_note_path(@note), data: {confirm: 'Are you sure?'} %>
        <% elsif @note.status != 3 %>
          OR <%= link_to 'Uncancel Invoice', uncancel_debit_note_path(@note), data: {confirm: 'Are you sure?'} %>
        <% end %>
      <% end %>
    </span>
  </div>
</div>

<div id="size-a4-print">
  <%# render "note" %>
  <%= render "invoices/invoice", :@invoice => @note %>
</div>
