<tr>
	<td><%= f.object.description %>
		<%= f.hidden_field :description, class: "span12 invoice_description", autocomplete: "off" %>
		<%= f.hidden_field :volume, class: "span12", autocomplete: "off", value: "1" %></td>
	<td><%= f.text_field :amount, class: "span12 invoice_amount", autocomplete: "off" %></td>
	<td>
		<%= f.hidden_field :_destroy, class: "span12" %>
		<a onclick="remove_invoice_fields(this); return false;" tabindex="-1" href="#" title="Remove"><i class="icon-remove-sign"></i></a>
	</td>
</tr>