<%= render 'commons/pdf' %>
<% columns = @report.columns %>
<% base = [] %>
<% 16.times{ |i| base.push i.to_s } %>
<div style="width: 100%">
  <h3 id="report-title"><%= @report.title %></h3>
  <table style="width: 100%" border="1">
    <thead>
    <tr>
      <%
        head = []
        head.push ""
        head.push "<th width=\"50\">IBL REF</th>"
        head.push "<th width=\"100\">Shipper Ref</th>"
        head.push "<th width=\"150\">Shipper</th>"
        head.push "<th width=\"100\">Volume</th>"
        head.push "<th width=\"150\">Destination</th>"
        head.push "<th width=\"50\">ETD Vessel</th>"
        head.push "<th width=\"50\">SI Date</th>"
        head.push "<th width=\"150\">Carrier</th>"
        head.push "<th width=\"150\">Consignee</th>"
        head.push "<th width=\"150\">Notify Party</th>"
        head.push "<th width=\"150\">POL</th>"
        head.push "<th width=\"100\">Booking No</th>"
        head.push "<th width=\"100\">MBL No</th>"
        head.push "<th width=\"150\">Order Type</th>"
        head.push "<th width=\"100\">Handle by</th>"
      %>
      <% (base-columns).reverse_each{ |column| head.delete_at(column.to_i) } %>
      <%= head.join("").html_safe %>
    </tr>
    </thead>
    <tbody>
    <% cancel_si = shipment_si = total_si = add_si = 0 %>
    <% @results.each do |row| %>
      <%
         add_si += 1 if row.is_shadow
         unless row.is_shadow
           total_si += 1
           if row.is_canceled?
             cancel_si += 1
           else
             shipment_si += 1
           end
         end
      %>
      <tr>
        <% body = report_list_si(row, "pdf") %>
        <% (base-columns).reverse_each{ |column| body.delete_at(column.to_i) } unless body.blank? %>
        <%= body.join("").html_safe unless body.blank? %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br/>
  <strong>Total SI: <%= total_si %></strong><br/>
  <strong>Total Shipments: <%= shipment_si %></strong><br/>
  <strong>Cancel SI: <%= cancel_si %></strong><br/>
</div>