<div id="size-a4">
<%= form_for(@bill_of_landing, html: { class: "form-horizontal"}) do |f| %>
  <% if @bill_of_landing.errors.any? %>
  <div class="alert alert-error">
    <ul class="unstyled">
      <% @bill_of_landing.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row-fluid">
    <div class="span6">
      <div class="border border-left">
        <label>Shipper : <a id="find_shipper" data-toggle="modal" href="#shippersModal" data-no-turbolink="true" class="btn btn-small">Find Shipper</a></label>
        <%= f.text_area :shipper_name, class: "span12", style: "height:119px" %>
        <%= f.hidden_field :shipper_id %>
      </div>
      <div class="border border-left">
        <label>Consignee : <a id="find_consignee" data-toggle="modal" href="#consigneesModal" data-no-turbolink="true" class="btn btn-small">Find Consignee</a></label>
        <%= f.text_area :consignee_name, class: "span12", style: "height:119px" %>
        <%= f.hidden_field :consignee_id %>
      </div>
      <div class="border border-left">
        <label>Notify Party :</label>
        <%= f.text_area :notify_party, class: "span12", style: "height: 119px" %>
      </div>
    </div>
    <div class="span6">
      <div class="row-fluid">
        <div class="span6 border border-right">
          <label>Export References :</label>
          <%= f.text_field :shipper_reference, class: "span12" %>
        </div>
        <div class="span6 border border-right">
          <label>Bill of Landing No. :</label>
          <%= f.text_field :bl_number, class: "span12" %>
        </div>
      </div>
      <div class="border border-right">
        <label>Country of Origin</label>
        <%= f.text_field :country_of_origin, class: "span12 typehead" %>
      </div>
      <div class="border border-right">
        <label>Also Notify Party :</label>
        <%= f.text_area :also_notify_party, class: "span12", style: "height: 110px" %>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <div class="border border-right">
            <label>Place of Receipt :</label>
            <%= f.text_field :place_of_receipt, class: "span12" %>
          </div>
          <div class="border border-right">
            <label>Port of Loading :</label>
            <%= f.text_field :port_of_loading, class: "span12" %>
          </div>
          <div class="border border-right">
            <label>Ocean Vessel :</label>
            <%= f.text_field :feeder_vessel, class: "span12" %>
          </div>
        </div>
        <div class="span6">
          <div class="border border-right">
            <label>Port of Discharge :</label>
            <%= f.text_field :port_of_discharge, class: "span12" %>
          </div>
          <div class="border border-right">
            <label>Final Destination :</label>
            <%= f.text_field :final_destination, class: "span12" %>
          </div>
          <div class="border border-right">
            <label>Pre-carriage by :</label>
            <%= f.text_field :connection_vessel, class: "span12" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 text-center border border-left"><label>PARTICULAR FURNISED BY SHIPPER</label></div>
    <div class="row-fluid">
      <div class="span3 border border-left">
        <div>
          <label>Marks & Nos.</label>
          <%= f.text_area :marks_no, class: "span12", style: "height: 160px" %>
        </div>
        <div>
          <label>FREIGHT PREPAID JAKARTA</label>
          <%= f.text_field :freight, class: "span12" %>
        </div>
      </div>
      <div class="span6 border border-right">
        <div>
          <label>Kind of Packages & Description of Goods</label>
          <%= f.text_area :description_packages, class: "span12", style: "height: 215px" %>
        </div>
      </div>
      <div class="span3 border border-right">
        <div class="row-fluid">
          <div class="span6">
            <label>GW (KGS)</label>
            <%= f.text_field :gw, class: "span12" %>
          </div>
          <div class="span6">
            <label>MEAS (CBM)</label>
            <%= f.text_field :measurement, class: "span12" %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <label>Container / Seal No. :</label>
            <%= f.text_area :container_no, class: "span12", style: "height: 160px" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="border border-full">
        <label>Special Clause</label>
        <%= f.text_area :special_clause, class: "span12", style: "height: 90px" %>
        <label>Shipped on Board</label>
        <%= f.text_area :shipped_on_board, class: "span12", style: "height: 67px" %>
      </div>
    </div>
    <div class="span6">
      <div class="border border-right">
        <label>Freight Details, charges, etc:</label>
        <%= f.text_area :freight_details, class: "span12", style: "height: 50px" %>
      </div>
      <div class="border border-right">
        <label>No. of Original BL :</label>
        <%= f.text_field :no_of_obl, class: "span12" %>
      </div>
      <div class="border border-right-full">
        <label>Place and Date of Issue</label>
        <div class="row-fluid">
          <%= f.text_field :place_of_issue, class: "span5" %>
          <%= f.text_field :date_of_issue, class: "span5 datepicker" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid" style="margin-top: 20px">
    <%= f.hidden_field :shipping_instruction_id %>
    <div class="pull-right">
      <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
      <a href="<%= bill_of_landings_path %>" class="btn"><i class="icon-reply"></i> Back</a>
    </div>
  </div>
<% end %>
<div class="row-fluid">
<%= render "shippers/modal", :@shippers => @shippers, :field => "bill_of_landing_shipper_name", :reference => "bill_of_landing_shipper_reference" %>
<%= render "consignees/modal", :@consignees => @consignees, :field => "bill_of_landing_consignee_name", :dup_field => "bill_of_landing_notify_party" %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#bill_of_landing_country_of_origin').typeahead({
      source: [
        <% @countries.each do |c| %>
          "<%= c.name %>",
        <% end %>
      ]
    });
  })
</script>
</div>