<tr>
  <td class="hidden"></td>
  <td><%= item.description %></td>
  <td class="text-right"><%= item.buying_volume %></td>
  <td class="text-right"><%= item.buying_usd %></td>
  <td class="text-right"><%= item.buying_idr %></td>
  <td class="text-right"><%= item.buying_total.to_f %></td>
  <td class="text-right hidden"><%= item.buying_total_after_tax.to_f %></td>
</tr>