<% if !notice.nil? %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>
<% if !alert.nil? %>
<p id="notice" class="alert alert-success"><%= alert %></p>
<% end %>
<%# image_tag "IBL-Smartbook.jpg", style: "width: 100%" %>
<% params[:year] = params[:year].presence || Date.today.year.to_s %>
<div class="panel-container">
  <div class="row">
    <div class="span5">
      <%= form_tag '', method: 'get', style: 'padding: 10px; margin-bottom: -20px;' do %>
        <select name="year" class="form-control">
          <% Constant.years_range.each do |year| %>
            <option value="<%= year %>" <%= "selected=selected" if params[:year] == "#{year}" %>><%= year %></option>
          <% end %>
        </select>
        <input type="submit" class="btn btn-default" value="Submit" style="margin-bottom: 10px;" />
      <% end %>
    </div>
    <div class="span8">
      <input style="margin: 10px 0 0 0; width: 100%" type="text" class="form-control" id="search-text" placeholder="Search by IBL SI #..."/>
      <script type="text/javascript">
      $(document).ready(function(){
        $("#search-text").on("keyup", function(){
          var search = $(this).val().toLowerCase();
          $(".panel li:not(.heading)").each(function(){
            if($(this).find("a").text().toLowerCase().indexOf(search) != -1){
              $(this).removeClass("hidden");
            }
            else{
              $(this).addClass("hidden");
            }
          });
        })
      })
      </script>
    </div>
  </div>
  <%= render 'commons/home_panel', models: @si_monitorings, 
      title: 'Outstanding SI', type: :OUTSTANDING_SI, count: @si_monitorings_count %>
  

  <%= render 'commons/home_panel', models: @grouped_documents, 
      title: 'Outstanding Document', type: :OUTSTANDING_DOCUMENT, count: @grouped_document_count %>
  

  <%# render 'commons/home_panel', models: @grouped_shipments, the_name: :actual_name,
      title: 'Outstanding Shipment', the_id: :shipping_instruction_id, type: :SHIPMENT, count: @grouped_shipments_count %>
  <%= render 'commons/home_panel', models: @grouped_shipments, the_name: :actual_name,
      title: 'Outstanding Tracking', type: :OUTSTANDING_TRACKING, count: @grouped_shipments_count %>
  <%= "<div style=\"clear: both\"></div>".html_safe %>
  <%# render 'commons/home_panel', models: @commision_monitorings, the_name: :name,
      title: 'Outstanding Shipment', the_id: :shipping_instruction_id, type: :SI_CNP, count: nil %>
  <%= render 'commons/home_panel', models: @grouped_not_invoiced, 
      title: 'Outstanding Invoicing', type: :OUTSTANDING_INVOICING, count: @grouped_not_invoiced_count %>

  <%= render 'commons/home_panel', models: @grouped_payments, 
      title: 'Outstanding Payment', type: :OUTSTANDING_PAYMENT, count: @grouped_payments_count %>


  <%# render 'commons/home_panel', models: @grouped_invoices, 
      title: 'List Due Date Invoice', type: :LIST_DUE_DATE_INVOICE, count: @grouped_invoice_count if current_user.administrator? %>
  <%= render 'commons/home_panel', models: @grouped_invoices, 
      title: 'List Due Date Invoice', type: :LIST_DUE_DATE_INVOICE, count: @grouped_invoice_count %>


  <%= "<div style=\"clear: both\"></div>".html_safe if current_user.administrator? %>
  <%= render 'commons/home_panel', models: @grouped_sell_costs, 
      title: 'Outstanding Cost & Sell', type: :OUTSTANDING_COST_N_SELL, count: @grouped_sell_cost_count if current_user.administrator? %>
  <%= render 'commons/home_panel', models: @grouped_cr_monitorings, 
      title: 'Outstanding C & R', type: :OUTSTANDING_C_N_R, count: @grouped_cr_monitorings_count if current_user.administrator? %>

