<div class="page-header">
  <h3>Agent: <%= @agent.name %></h3>
</div>
<% if !notice.nil? %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>
<div class="btn-group" style="margin-bottom: 20px">
  <a href="<%= edit_agent_path(@agent) %>" class="btn btn-small" title="Edit: <%= @agent.name %>"><i class="icon-edit-sign"></i></a>
  <a href="<%= agents_path %>" class="btn btn-small" title="Back to Lists"><i class="icon-reply"></i></a>
</div>
<div class="details">
  <div>
    <strong>COMPANY NAME:</strong>
    <span><%= @agent.name %>&nbsp;</span>
  </div>
  <div>
    <strong>REFERENCE:</strong>
    <span><%= @agent.reference %>&nbsp;</span>
  </div>
  <div>
    <strong>CREDIT TERMS:</strong>
    <span><%= @agent.credit_term %> Days&nbsp;</span>
  </div>
  <div>
    <strong>ADDRESS:</strong>
    <pre><%= @agent.full_address %>&nbsp;</pre>
  </div>
  <div class="details" style="margin-top: 10px">
    <% @agent.custom_fields.where(field_key: "ADDRESS").each do |cf| %>
      <%= render 'shared/custom_field', :cf => cf %>
    <% end %>
    <% @agent.custom_fields.where(field_key: "PHONE").each do |cf| %>
      <%= render 'shared/custom_field', :cf => cf %>
    <% end %>
    <% @agent.custom_fields.where(field_key: "FAX").each do |cf| %>
      <%= render 'shared/custom_field', :cf => cf %>
    <% end %>
    <% @agent.custom_fields.where(field_key: "EMAIL").each do |cf| %>
      <%= render 'shared/custom_field', :cf => cf %>
    <% end %>
    <% @agent.custom_fields.where(field_key: "PIC").each do |cf| %>
      <%= render 'shared/custom_field', :cf => cf %>
    <% end %>
    <% @agent.custom_fields.where(field_key: "URL").each do |cf| %>
      <%= render 'shared/custom_field', :cf => cf %>
    <% end %>
    <% @agent.custom_fields.where(field_key: "CUSTOM").each do |cf| %>
      <%= render 'shared/custom_field', :cf => cf %>
    <% end %>
  </div>
  <div>
    <strong>NOTE :</strong>
    <pre><%= @agent.notes %>&nbsp;</pre>
  </div>
</div>