<%# cache payment_reference do %>
  <tr>
  <td data-no-turbolink="true">
    <%= link_to '<i class="icon-eye-open icon-large"></i>'.html_safe, payment, title: "Show Payment" %>
    <% if payment.status == 0 && payment.is_cancel == 0 %>
      <%= link_to '<i class="icon-edit-sign icon-large"></i>'.html_safe, edit_payment_path(payment), title: "Edit Payment" %>
    <% end %>
    <% if payment.is_cancel == 0 && payment.status == 0 %>
      <%= link_to 'Cancel', cancel_payment_path(payment), data: {confirm: "Are you sure?"} %>
    <% end %>
    <% if payment.is_cancel == 1 %>
      <%= link_to 'Uncancel', uncancel_payment_path(payment), data: {confirm: "Are you sure?"} %>
    <% end %>
  </td>
  <td>
    <%= payment.payment_no %>
    <%= '<span class="label label-warning">Cancel</span>'.html_safe if payment.is_cancel == 1 %>
  </td>
  <td><%= payment_reference.ibl_ref %></td>
  <td><%= payment_reference.booking_no %></td>
  <td><%= payment_reference.shipper_company_name %></td>
  <td><%= payment_reference.final_destination %></td>
  <td><%= payment_reference.volume %></td>
  <td><%= payment.carrier %></td>
  <td><%= number_format(payment_reference.amount) %> <%= payment.currency %></td>
  <td><%= payment.notes %></td>
  <td><%= payment_reference.first_etd_date %></td>
  <td><%= normal_date_format payment.payment_date %></td>
  <td><%= payment.status_text %></td>
</tr>
<%# end %>
