<% unless item.buying_volume == 0 && item.buying_usd == 0 && item.buying_idr == 0 && item.buying_total_after_tax == 0 %>
<tr>
	<td class="hidden"></td>
	<td><%= item.description %></td>
	<td class="text-right"><%= (item.description == "LCL") ? lcl_format(item.buying_volume) : money_format(item.buying_volume) %></td>
	<td class="text-right"><%= money_format item.buying_usd %></td>
	<td class="text-right"><%= money_format item.buying_idr %></td>
	<td class="text-right"><%= money_format item.buying_total %></td>
	<td class="text-right hidden"><%= money_format item.buying_total_after_tax %></td>
</tr>
<% end %>