<%= render 'commons/pdf' %>
<div style="width: 100%">
  <h3 id="report-title"><%= @report.title %></h3>
  <table style="width: 100%" border="1">
    <thead>
      <tr>
        <th>Company</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Fax</th>
        <th>Email</th>
        <th>PIC</th>
      </tr>
    </thead>
    <tbody>
      <% @agents.each do |agent| %>
        <tr>
          <td><%= agent.name %></td>
          <td><pre class="free"><%= agent.full_address %></pre></td>
          <td><%= agent.custom_attribute('phone') %></td>
          <td><%= agent.custom_attribute('fax') %></td>
          <td><%= agent.custom_attribute('email') %></td>
          <td><%= agent.custom_attribute('pic') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>