<%= render 'commons/pdf' %>
<% columns = @report.columns %>
<div style="width: 100%">
  <h3 id="report-title"><%= @report.title %></h3>
  <table style="width: 100%" border="1">
    <thead>
    <tr>
      <%= "<th>IBL Ref</th>".html_safe if columns.include? "1" %>
      <%= "<th>MBL No</th>".html_safe if columns.include? "2" %>
      <%= "<th>Carrier</th>".html_safe if columns.include? "3" %>
      <%= "<th>Shipper</th>".html_safe if columns.include? "4" %>
      <%= "<th>Consignee</th>".html_safe if columns.include? "5" %>
      <%= "<th>Notify Party</th>".html_safe if columns.include? "6" %>
      <%= "<th>Destination</th>".html_safe if columns.include? "7" %>
      <%= "<th>Invoice</th>".html_safe if columns.include? "8" %>
      <%= "<th>Volume</th>".html_safe if columns.include? "9" %>
      <%= "<th>Order Type</th>".html_safe if columns.include? "10" %>
      <%= "<th>Payment</th>".html_safe if columns.include? "11" %>
      <%= "<th>POL</th>".html_safe if columns.include? "12" %>
      <%= "<th>Etd Vessel</th>".html_safe if columns.include? "13" %>
      <%= "<th>Delivery Doc</th>".html_safe if columns.include? "14" %>
    </tr>
    </thead>
    <tbody>
      <% @bill_of_ladings.each do |row| %>
      <%# cache(["si_report", row]) do %>
        <tr>
          <%= "<td>#{row.ibl_ref_with_status}</td>".html_safe if columns.include? "1" %>
          <%= "<td>#{row.master_bl_no}</td>".html_safe if columns.include? "2" %>
          <%= "<td>#{row.carrier}</td>".html_safe if columns.include? "3" %>
          <%= "<td>#{row.shipper_company_name}</td>".html_safe if columns.include? "4" %>
          <%= "<td>#{row.consignee_company_name}</td>".html_safe if columns.include? "5" %>
          <%= "<td>#{row.first_line_notify_party}</td>".html_safe if columns.include? "6" %>
          <%= "<td>#{row.final_destination}</td>".html_safe if columns.include? "7" %>
          <%= "<td>#{row.invoice_no.join('<br>')}</td>".html_safe if columns.include? "8" %>

          <%= "<td>#{row.volume}</td>".html_safe if columns.include? "9" %>
          <%= "<td>#{row.order_type_text}</td>".html_safe if columns.include? "10" %>
          <%= "<td>#{row.payment_no.join('<br>')}</td>".html_safe if columns.include? "11" %>
          <%= "<td>#{row.port_of_loading}</td>".html_safe if columns.include? "12" %>
          <%= "<td>#{si_date_format row.first_etd_date}</td>".html_safe if columns.include? "13" %>
          <%= "<td>#{row.delivery_doc_status}</td>".html_safe if columns.include? "14" %>
        </tr>
      <%# end %>
    <% end %>
    </tbody>
  </table>
</div>