<%= render 'commons/pdf' %>
<div style="width: 100%">
  <h3 id="report-title"><%= @report.title %></h3>
  <table style="width: 100%" border="1">
    <thead>
      <tr>
        <th>Carrier</th>
        <th>Currency</th>
        <th>Bank</th>
        <th>Account Name</th>
        <th>Account No</th>
      </tr>
    </thead>
    <tbody>
      <% @carrier_banks.each do |carrier_bank| %>
        <tr>
          <td><%= carrier_bank.carrier.name %></td>
          <td><%= carrier_bank.currency %></td>
          <td><%= carrier_bank.bank_name %></td>
          <td><%= carrier_bank.acc_name %></td>
          <td><%= carrier_bank.acc_no %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>