<%= render 'commons/pdf' %>
<% columns = @report.columns %>
<div style="width: 100%">
  <h3 id="report-title"><%= @report.title %></h3>
  <table style="width: 100%" border="1">
    <thead>
    <tr>
      <%= "<th>Payment Date</th>".html_safe if columns.include? "1" %>
      <%= "<th>IBL Ref</th>".html_safe if columns.include? "2" %>
      <%= "<th>Invoice No</th>".html_safe if columns.include? "3" %>
      <%= "<th>Deposit</th>".html_safe if columns.include? "4" %>
    </tr>
    </thead>
    <tbody>
      <%
        total_usd = 0
        total_idr = 0
      %>
      <% @payments.each do |row| %>
      <%# cache(["si_report", row]) do %>
        <%
          total_usd += row.deposit.to_f if row.currency_code == "USD"
          total_idr += row.deposit.to_f if row.currency_code == "IDR"
        %>
        <tr>
          <%= "<td>#{si_date_format row.payment_date}</td>".html_safe if columns.include? "1" %>
          <%= "<td>#{row.ibl_ref}</td>".html_safe if columns.include? "2" %>
          <%= "<td>#{row.invoice_no}</td>".html_safe if columns.include? "3" %>
          <%= "<td style=\"text-align:right\">#{money_with_currency_format(row.deposit, row.currency_code)}</td>".html_safe if columns.include? "4" %>
        </tr>
      <%# end %>
    <% end %>
    </tbody>
    <tfoot>
      <%
        total = []
        total.push "#{number_with_precision(total_usd, precision: 2, delimiter: ',')} USD" if total_usd != 0
        total.push "#{number_with_precision(total_idr, precision: 2, delimiter: ',')} IDR" if total_idr != 0
      %>
      <tr>
        <th colspan="3" style="text-align:left">Total :</th>
        <th style="text-align:right"><%= total.join("<br>").html_safe %></th>
      </tr>
    </tfoot>
  </table>
</div>