<%= render 'commons/pdf' %>
<% columns = @report.columns %>
<div style="width: 100%">
  <h3 id="report-title"><%= @report.title %></h3>
  <table style="width: 100%" border="1">
    <thead>
    <tr>
      <%= "<th>Carrier</th>".html_safe if columns.include? "1" %>
      <%= "<th>IBL Ref</th>".html_safe if columns.include? "2" %>
      <%= "<th>Amount Tax</th>".html_safe if columns.include? "3" %>
      <%= "<th>Tax No</th>".html_safe if columns.include? "4" %>
      <%= "<th>Tax Issued</th>".html_safe if columns.include? "5" %>
      <%= "<th>Paid</th>".html_safe if columns.include? "6" %>
    </tr>
    </thead>
    <tbody>
      <% @taxes.each do |row| %>
      <%# cache(["si_report", row]) do %>
        <tr>
          <%= "<td>#{row.carrier}</td>".html_safe if columns.include? "1" %>
          <%= "<td>#{row.ibl_ref_with_status}</td>".html_safe if columns.include? "2" %>
          <%= "<td class=\"text-right\">#{number_format row.amount} #{row.currency}</td>".html_safe if columns.include? "3" %>
          <%= "<td>#{row.tax_no}</td>".html_safe if columns.include? "4" %>
          <%= "<td>#{monthly_format row.tax_issued}</td>".html_safe if columns.include? "5" %>
          <%= "<td>#{row.paid_status}</td>".html_safe if columns.include? "6" %>
        </tr>
      <%# end %>
    <% end %>
    </tbody>
  </table>
</div>