<tr<%= " class=hidden" if f.object.marked_for_destruction? %>>
  <td><%= f.text_field :invoice_no, class: "invoice_payment_field invoice_no", autocomplete: "off" %></td>
  <td><%= f.text_field :bank_charge, class: "invoice_payment_field money_text bank_charge", autocomplete: "off" %></td>
  <!-- <td><%= f.text_field :discount, class: "invoice_payment_field money_text discount", autocomplete: "off" %></td> -->
  <td><%= f.text_field :rounding, class: "invoice_payment_field money_text rounding", autocomplete: "off" %></td>
  <td><%= f.text_field :short_paid, class: "invoice_payment_field money_text short_paid", autocomplete: "off" %></td>
  <td><%= f.text_field :deposit, class: "invoice_payment_field money_text deposit", autocomplete: "off" %></td>
  <td><%= f.text_field :pph_23, class: "invoice_payment_field money_text pph_23", autocomplete: "off" %></td>
  <td><%= f.text_field :other, class: "invoice_payment_field money_text other", autocomplete: "off" %></td>
  <td><%= f.text_area :note, class: "invoice_payment_field note", autocomplete: "off" %></td>
  <td>
    <%= f.hidden_field :payment_date, class: "invoice_payment_field payment_date", autocomplete: "off" %>
    <% if f.object.marked_for_destruction? %>
      <%= f.hidden_field :_destroy, class: "", value: 1 %>
    <% else %>
      <%= f.hidden_field :_destroy, class: "" %>
    <% end %>
    <a onclick="remove_reference_fields(this); return false;" tabindex="-1" href="#" title="Remove"><i class="icon-remove-sign"></i></a>
  </td>
</tr>
