<!DOCTYPE html>
<html>
<head>
  <title>Interbenua DEMO - Login Administrator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="google-site-verification" content="CaKySRgfdvMmnn13nCONIo3US-WLCjPDBfVrdrsahBY" />
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="navbar-inner" style="border-radius:0">
        <a href="/" class="brand"><strong class="second">PT. Interbenua Logistindo DEMO (<%= Date.today.strftime("%B %d, %Y") %>)</strong></a>
    </div>
</div>

<%= yield %>

</body>
</html>
